In [1]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
s1 = Student('김씨', 20)  # self=s1
s2 = Student('이씨', 22)  # self=s2

print(s1.name)
print(s1, type(s1))

김씨
<__main__.Student object at 0x0000024A5B075250> <class '__main__.Student'>

In [2]:
class Professor:
    def __init__(self, name, age):
        self.name = name
        self.age = age

class Student:
    def __init__(self, name, age, no):
        self.name = name
        self.age = age
        self.no = no
    
s1 = Student('김씨', 20, 's1000')
s2 = Student('이씨', 22, 's1001')  # self=s2

p1 = Professor('박씨', 40)

print(s1, type(s1))
print(p1, type(p1))

<__main__.Student object at 0x0000024A5B03EA30> <class '__main__.Student'>
<__main__.Professor object at 0x0000024A5B03EA00> <class '__main__.Professor'>

In [3]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
class Professor:
    def __init__(self, name, age):
        Person.__init__(self, name, age)

class Student:
    def __init__(self, name, age, no):
        Person.__init__(self, name, age)
        self.no = no
    
s1 = Student('김씨', 20, 's1000')
s2 = Student('이씨', 22, 's1001')  # self=s2

p1 = Professor('박씨', 40)

print(s1, type(s1))
print(p1, type(p1))

<__main__.Student object at 0x0000024A5B099EE0> <class '__main__.Student'>
<__main__.Professor object at 0x0000024A5B099FA0> <class '__main__.Professor'>

In [4]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
class Professor(Person):
    # a = super()
    def __init__(self, name, age):
        super().__init__(name, age)

class Student(Person):
    def __init__(self, name, age, no):
        super().__init__(name, age)
        self.no = no
    
s1 = Student('김씨', 20, 's1000')
s2 = Student('이씨', 22, 's1001')  # self=s2

p1 = Professor('박씨', 40)

print(s1)
print(s2)
print(p1)

<__main__.Student object at 0x0000024A5B0925E0>
<__main__.Student object at 0x0000024A5B0924C0>
<__main__.Professor object at 0x0000024A5B092C40>

In [5]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
class Professor(Person):
    pass

class Student(Person):
    def __init__(self, name, age, no):
        super().__init__(name, age)
        self.no = no
    
s1 = Student('김씨', 20, 's1000')
s2 = Student('이씨', 22, 's1001')  # self=s2

p1 = Professor('박씨', 40)

print(s1)
print(s2)
print(p1)

<__main__.Student object at 0x0000024A5B099CD0>
<__main__.Student object at 0x0000024A5B099760>
<__main__.Professor object at 0x0000024A5B099880>

In [7]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def __str__(self):
        return self.name
        
class Professor(Person):
    pass

class Student(Person):
    def __init__(self, name, age, no):
        super().__init__(name, age)
        self.no = no
    
s1 = Student('김씨', 20, 's1000')
s2 = Student('이씨', 22, 's1001')  # self=s2

p1 = Professor('박씨', 40)

print(s1)
print(s2)
print(p1)

김씨
이씨
박씨

In [8]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def __str__(self):
        return self.name
        
class Professor(Person):
    pass

class Student(Person):
    def __init__(self, name, age, no):
        super().__init__(name, age)
        self.no = no
        
    def __str__(self):
        return f'{self.no}_{self.name}'
    
s1 = Student('김씨', 20, 's1000')
s2 = Student('이씨', 22, 's1001')  # self=s2

p1 = Professor('박씨', 40)

print(s1)
print(s2)
print(p1)

s1000_김씨
s1001_이씨
박씨

In [9]:
# Person 에 사람 수 추가
class Person:
    number = 0
    def __init__(self, name, age):
        self.name = name
        self.age = age
        Person.number += 1
    
    def __str__(self):
        return self.name
        
class Professor(Person):
    pass

class Student(Person):
    def __init__(self, name, age, no):
        super().__init__(name, age)
        self.no = no
        
    def __str__(self):
        return f'{self.no}_{self.name}'
    
s1 = Student('김씨', 20, 's1000')
s2 = Student('이씨', 22, 's1001')  # self=s2

p1 = Professor('박씨', 40)

print(s1)
print(s2)
print(p1)

s1000_김씨
s1001_이씨
박씨

In [12]:
# Person 에 사람 수 추가
class Person:
    number = 0
    def __init__(self, name, age):
        self.name = name
        self.age = age
        Person.number += 1
    
    def __str__(self):
        return self.name
    
    @classmethod
    def getNumber(cls):
        return cls.number
        
class Professor(Person):
    pass

class Student(Person):
    def __init__(self, name, age, no):
        super().__init__(name, age)
        self.no = no
        
    def __str__(self):
        return f'{self.no}_{self.name}'
    
s1 = Student('김씨', 20, 's1000')
s2 = Student('이씨', 22, 's1001')  # self=s2

p1 = Professor('박씨', 40)

print(s1)
print(s2)
print(p1)

print(Person.getNumber())
print(Student.getNumber())
print(s1.getNumber())  # 인스턴스에 없으면 상위로 상위로 상위로 찾아 올라간다

s1000_김씨
s1001_이씨
박씨
3
3

In [15]:
# Person 에 사람 수 추가
class Person:
    number = 0
    def __init__(self, name, age):
        self.name = name
        self.age = age
        type(self).number += 1
    
    def __str__(self):
        return self.name
    
    @classmethod
    def getNumber(cls):
        return cls.number
        
class Professor(Person):
    pass

class Student(Person):
    def __init__(self, name, age, no):
        super().__init__(name, age)
        self.no = no
        
    def __str__(self):
        return f'{self.no}_{self.name}'
    
s1 = Student('김씨', 20, 's1000')
s2 = Student('이씨', 22, 's1001')  # self=s2

p1 = Professor('박씨', 40)

print(s1)
print(s2)
print(p1)

print(Person.getNumber())  # 0
print(Professor.getNumber())  # 1
print(p1.getNumber())  # 1
print(Student.getNumber())  # 2
print(s1.getNumber())  # 2

s1000_김씨
s1001_이씨
박씨
0
1
1
2
2

In [ ]:
# Person 에 사람 수 추가
class Person:
    number = 0
    def __init__(self, name, age):
        self.name = name
        self.age = age
        type(self).number += 1
    
    def __str__(self):
        return self.name
    
    def __del__(self):
        print("객체 소멸")  # 객체를 지울 때 사용하는 메서드
    
    @classmethod
    def getNumber(cls):
        return cls.number
        
class Professor(Person):
    pass

class Student(Person):
    def __init__(self, name, age, no):
        super().__init__(name, age)
        self.no = no
        
    def __str__(self):
        return f'{self.no}_{self.name}'
    
s1 = Student('김씨', 20, 's1000')
s2 = Student('이씨', 22, 's1001')  # self=s2

p1 = Professor('박씨', 40)

print(s1)
print(s2)
print(p1)

print(Person.getNumber())  # 0
print(Professor.getNumber())  # 1
print(p1.getNumber())  # 1
print(Student.getNumber())  # 2
print(s1.getNumber())  # 2

In [8]:
# len, sum, min, max 함수
numbers = [2, 5, 7, 10, 6]


# 짝수만 더하기
def getLen(numbers):
    l = 0
    for n in numbers:
        if n % 2 == 0:
            l += n
    return l

print(getLen(numbers))

18

In [2]:
# chr, ord 활용 -> 문자와 숫자사이의 변경
print(chr(ord('A') + 2))
print(ord('a'))  # 97
print(ord('A'))  # 65
print(ord('0'))  # 48

C
97
65
48

In [4]:
a = [
    [1, 2, 3],
    [3, 4, 5],
    [2, 5, 6],
    [12, 5, 6]
]

# 모든 줄 출력
for r in range(4):
    for c in range(3):
        print(a[r][c])

1
2
3
3
4
5
2
5
6
12
5
6

In [20]:
a = [
    [1, 2, 3],
    [3, 4, 5],
    [2, 5, 6],
    [12, 5, 6]
]

# 한 줄씩 합 구하기
cur_max = 0
for r in range(4):
    s = 0
    for c in range(3):
        #print(a[r][c])
        s = s + a[r][c]
    
    print('sum =', s)
    if cur_max < s:
        cur_max = s
print(cur_max)

sum = 6
sum = 12
sum = 13
sum = 23
23

In [27]:
# 4의 위치 찾기
def getFour(numbers):
    for r in range(row):
        for c in range(col):
            if numbers[r][c] == 4:
                return r, c

a = [
    [1, 2, 3],
    [3, 4, 5],
    [2, 5, 6],
    [12, 5, 6]
]

row = 4
col = 3
print(getFour(a))

(1, 1)

In [29]:
# 세로로 찾기??

a = [
    [1, 2, 3],
    [3, 4, 5],
    [2, 5, 6],
    [12, 5, 6]
]

col = 3
row = 4

for c in range(col):
    for r in range(row):
        print(a[r][c])

1
3
2
12
2
4
5
5
3
5
6
6

In [43]:
def getFour(numbers):
    for r in range(row):
        for c in range(col):
            if numbers[r][c] == 4:
                return r, c


a = [
    [1, 2, 3],
    [3, 4, 5],
    [2, 5, 6],
    [12, 5, 14]
]

row = 4
col = 3
cur_row, cur_col = getFour(a)

for i in range(2):
    cur_col += 1
    if cur_cor > 3:  # 더 이상 갈 수 없으면
        break

NameError: name 'cur_cor' is not defined

In [32]:
i = input().split()
print(i, type(i))

3 4 5
['3', '4', '5'] <class 'list'>

In [34]:
i = map(int, input().split())
print(i, type(i))

3 4 5
<map object at 0x00000213F4A3B2E0> <class 'map'>

In [35]:
i = list(map(int, input().split()))
print(i, type(i))

3 4 5
[3, 4, 5] <class 'list'>

In [36]:
r = []
for _ in range(4):
    i = list(map(int, input().split()))
    r.append(i)

print(r)

3 4 5
2 3 4
1 2 3
4 5 6
[[3, 4, 5], [2, 3, 4], [1, 2, 3], [4, 5, 6]]

In [39]:
r = [list(map(int, input().split())) for _ in range(4)]
print(r)

3 4 5
2 3 4
1 2 3
4 5 6
[[3, 4, 5], [2, 3, 4], [1, 2, 3], [4, 5, 6]]

In [45]:
# 주의할 점
# s = [1, 1, 1]
s = [1] * 3
print(s)

s = [[1] * 3] * 4
print(s)

s[0][1] = 100
print(s)


s = [[1] * 3 for _ in range(4)]
print(s)

s[0][1] = 100
print(s)

[1, 1, 1]
[[1, 1, 1], [1, 1, 1], [1, 1, 1], [1, 1, 1]]
[[1, 100, 1], [1, 100, 1], [1, 100, 1], [1, 100, 1]]
[[1, 1, 1], [1, 1, 1], [1, 1, 1], [1, 1, 1]]
[[1, 100, 1], [1, 1, 1], [1, 1, 1], [1, 1, 1]]