In [1]:
def itoa(int_value):
    return chr(int_value + 48)

t = itoa(2)
print(t, type(t))

2 <class 'str'>

In [9]:
def itoa(int_value):
    temp = int_value
    s = ''
    while temp > 0:
        one = temp % 10
        s = s + chr(one + ord('0'))
        temp = temp // 10
        print(one, temp, s)
    return chr(one + ord('0'))

t = itoa(2567)
print(t, type(t))

7 256 7
6 25 76
5 2 765
2 0 7652
2 <class 'str'>

In [11]:
def itoa(int_value):
    temp = int_value
    s = ''
    while temp > 0:
        one = temp % 10
        s = chr(one + ord('0')) + s
        temp = temp // 10
        print(one, temp, s)
    return chr(one + ord('0'))

t = itoa(2567)
print(t, type(t))

7 256 7
6 25 67
5 2 567
2 0 2567
2 <class 'str'>

In [16]:
def itoa(int_value):
    temp = int_value
    s = ''
    while temp > 0:
        one = temp % 10
        s = chr(one + ord('0')) + s
        temp = temp // 10
        #print(one, temp, s)
    return s

t = itoa(2567)
print(t)

2567

In [20]:
def atoi(str_value):
    value = 0
    for i in range(len(str_value)):
        c = ord(str_value[i]) - 0x30
        value = value * 10 + c
    return value
    

t = atoi('4567')
print(t, type(t))

4567 <class 'int'>